.header {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  column-gap: 40px;
  margin-left: 76px;
  margin-right: 340px;
}

.header-adress {
  display: flex;
  column-gap: 40px;
  justify-content: flex-end;
}

.header-logo-accent {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
}

.header a {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: #2e2f42;
}

.header-nav a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}

.header-nav a:hover,
.header-nav a:focus {
  color: #404bbf;
}

.header-adress a {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}

.header-adress a:hover,
.header-adress a:focus {
  color: #404bbf;
}

.logo {
  text-transform: uppercase;
}
