.hero {
  background-color: #2e2f42;
}

.hero-container {
  justify-content: center;
  padding-bottom: 68px;
}

.hero-main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  padding-top: 68px;
  padding-bottom: 48px;
  margin-right: auto;
  margin-left: auto;
}

.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  border: 0;
  margin-right: auto;
  margin-left: auto;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
